---
import { getStatusTooltip } from '../utils/statusTooltip.js';

const { title, status = 'online', icon = null, isHero = false } = Astro.props;
---

<div class={`dashboard-card ${isHero ? 'hero-card' : 'small-tile-card'}`}>
  <div class={`status-indicator status-${status}`} title={getStatusTooltip(status)}></div>
  <div class={`${isHero ? 'card-label hero-label' : 'small-card-label'}`}>{title}</div>

  {!isHero && icon && (
  <div class={`tile-icon ${title}`}>
      <img src={icon} alt={title} />
    </div>
  )}
</div>
